[Desktop Entry]
Comment=A dark Plasma 5 Desktop theme with red highlights, loosely in the style of the Ubuntu Unity desktop
Name=DarkUnification
X-KDE-PluginInfo-Author=AliciaTransmuted
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=alicia.art.and.photography@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-Name=DarkUnification
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/AliciaTransmuted/DarkUnification
X-Plasma-API=5.0
